<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebJSP</display-name>
  <welcome-file-list>
    <welcome-file>Ex01_index.html</welcome-file>
    <welcome-file>Ex01_index.jsp</welcome-file>
   </welcome-file-list>
   
   
   <context-param>
   	  <description>개발자 마음 공유자원</description>
   	  <param-name>email</param-name>
   	  <param-value>kosa@kosa.or.kr</param-value>
   </context-param> 
   <context-param>
   	  <description>기본 파일 경로</description>
   	  <param-name>filepath</param-name>
   	  <param-value>C:\\web\\download</param-value>
   </context-param> 
   
     <!--  
  		WebAPP(context) 에 적용되는 Error 페이지 설정하기
   		 1. 상태코드 (500 서버코드 , 404 요청페이지 없어요 , 403 접근 권한) 마다 페이지를 만들어서 서비스가능 
  		 2. 예외처리 별로 (세분화) : Nollpoint 처리페이지, indexOutOfBound 처리페이지  (참고)
            처리는 최종 배포시에만 처리 (개발 시에는 예외 코드 확인 해야 해요)
     
   	<error-page>
   		<error-code>500</error-code>
   		<location>/error/Error500.jsp</location>
   	</error-page>
   	<error-page>
   		<error-code>404</error-code>
   		<location>/error/Error404.jsp</location>
   	</error-page>
   	-->
</web-app>




